force-app/main/default/flows/Auto_close_cases.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>53.0</apiVersion>
    <decisions>
        <name>Check_last_modified</name>
        <label>Check last modified</label>
        <locationX>314</locationX>
        <locationY>276</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>older_than_5_days</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.LastModifiedDate</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <elementReference>form_Last5Days</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>close_the_case</targetReference>
            </connector>
            <label>older than 5 days</label>
        </rules>
        <rules>
            <name>older_than_3_days</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.LastModifiedDate</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <elementReference>form_Last3Days</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Priority</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>High</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>change_priority</targetReference>
            </connector>
            <label>older than 3 days</label>
        </rules>
    </decisions>
    <formulas>
        <name>form_Last3Days</name>
        <dataType>Date</dataType>
        <expression>{!$Flow.CurrentDate} - 3</expression>
    </formulas>
    <formulas>
        <name>form_Last5Days</name>
        <dataType>Date</dataType>
        <expression>{!$Flow.CurrentDate} - 5</expression>
    </formulas>
    <interviewLabel>Auto close cases {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Auto close cases</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>change_priority</name>
        <label>change priority</label>
        <locationX>314</locationX>
        <locationY>396</locationY>
        <inputAssignments>
            <field>Priority</field>
            <value>
                <stringValue>High</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>close_the_case</name>
        <label>close the case</label>
        <locationX>50</locationX>
        <locationY>396</locationY>
        <inputAssignments>
            <field>Comments</field>
            <value>
                <stringValue>Closed by inactivity</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Closed</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>188</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Check_last_modified</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>IsClosed</field>
            <operator>NotEqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>Case</object>
        <schedule>
            <frequency>Daily</frequency>
            <startDate>2021-11-01</startDate>
            <startTime>00:00:00.000Z</startTime>
        </schedule>
        <triggerType>Scheduled</triggerType>
    </start>
    <status>Active</status>
</Flow>
