force-app/main/default/flows/Math_screen.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Do_operation_in_Apex</name>
        <label>Do operation in Apex</label>
        <locationX>499</locationX>
        <locationY>326</locationY>
        <actionName>Math</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Result_screen</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Operation_invalid</targetReference>
        </faultConnector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>param1</name>
            <value>
                <elementReference>number_1</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>operation</name>
            <value>
                <elementReference>rdb_Operation</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>param2</name>
            <value>
                <elementReference>number_2</elementReference>
            </value>
        </inputParameters>
        <outputParameters>
            <assignToReference>Result</assignToReference>
            <name>result</name>
        </outputParameters>
    </actionCalls>
    <apiVersion>53.0</apiVersion>
    <choices>
        <name>Divide</name>
        <choiceText>Divide</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>/</stringValue>
        </value>
    </choices>
    <choices>
        <name>Invalid</name>
        <choiceText>Invalid</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>y</stringValue>
        </value>
    </choices>
    <choices>
        <name>Minus</name>
        <choiceText>Minus</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>-</stringValue>
        </value>
    </choices>
    <choices>
        <name>Multiply</name>
        <choiceText>Multiply</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>x</stringValue>
        </value>
    </choices>
    <choices>
        <name>Sum</name>
        <choiceText>Sum</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>+</stringValue>
        </value>
    </choices>
    <interviewLabel>Math screen {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Math screen</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <screens>
        <name>Form_screen</name>
        <label>Form screen</label>
        <locationX>499</locationX>
        <locationY>206</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Do_operation_in_Apex</targetReference>
        </connector>
        <fields>
            <name>Form_screen_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Form_screen_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>rdb_Operation</name>
                    <choiceReferences>Sum</choiceReferences>
                    <choiceReferences>Minus</choiceReferences>
                    <choiceReferences>Multiply</choiceReferences>
                    <choiceReferences>Divide</choiceReferences>
                    <choiceReferences>Invalid</choiceReferences>
                    <dataType>String</dataType>
                    <defaultSelectedChoiceReference>Sum</defaultSelectedChoiceReference>
                    <fieldText>Select operation</fieldText>
                    <fieldType>RadioButtons</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Form_screen_Section2</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Form_screen_Section2_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>number_1</name>
                    <dataType>Number</dataType>
                    <defaultValue>
                        <numberValue>0.0</numberValue>
                    </defaultValue>
                    <fieldText>number 1</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                    <scale>2</scale>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Form_screen_Section2_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>number_2</name>
                    <dataType>Number</dataType>
                    <defaultValue>
                        <numberValue>0.0</numberValue>
                    </defaultValue>
                    <fieldText>number 2</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                    <scale>2</scale>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Operation_invalid</name>
        <label>Operation invalid</label>
        <locationX>763</locationX>
        <locationY>446</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>errorMessage</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;color: rgb(255, 0, 0);&quot;&gt;{!$Flow.FaultMessage}&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Result_screen</name>
        <label>Result screen</label>
        <locationX>499</locationX>
        <locationY>446</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>resultMessage</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 16px;&quot;&gt;Result of the operation is: {!Result}&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>373</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>Form_screen</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>Result</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
</Flow>
