force-app/main/default/flows/Update_DueDate.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>53.0</apiVersion>
    <assignments>
        <name>valorize_due_date_SF</name>
        <label>valorize due date SF</label>
        <locationX>314</locationX>
        <locationY>278</locationY>
        <assignmentItems>
            <assignToReference>dueDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>form_DueDateSF</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>valorize_Due_Date_Salesforce_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>valorize_due_date_Zendesk</name>
        <label>valorize due date Zendesk</label>
        <locationX>50</locationX>
        <locationY>278</locationY>
        <assignmentItems>
            <assignToReference>dueDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>form_DueDateZendesk</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>valorize_Due_Date_Salesforce_0</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_origin</name>
        <label>Check origin</label>
        <locationX>182</locationX>
        <locationY>158</locationY>
        <defaultConnector>
            <targetReference>valorize_due_date_SF</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Salesforce</defaultConnectorLabel>
        <rules>
            <name>Zendesk</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>caseRecord.Origin</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Zendesk</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>valorize_due_date_Zendesk</targetReference>
            </connector>
            <label>Zendesk</label>
        </rules>
    </decisions>
    <formulas>
        <name>form_DueDateSF</name>
        <dataType>Date</dataType>
        <expression>{!$Flow.CurrentDate} + 3</expression>
    </formulas>
    <formulas>
        <name>form_DueDateZendesk</name>
        <dataType>Date</dataType>
        <expression>{!$Flow.CurrentDate} + 5</expression>
    </formulas>
    <interviewLabel>Update DueDate {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Update DueDate</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>valorize_Due_Date_Salesforce_0</name>
        <label>valorize Due Date Salesforce</label>
        <locationX>182</locationX>
        <locationY>494</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>caseRecord.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>DueDate__c</field>
            <value>
                <elementReference>dueDate</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Check_origin</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>caseRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <name>dueDate</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
